@page
@model ClientesModel
@{
    ViewData["Title"] = "Clientes";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

@if(Model.Clientes?.Any() == true)
{
    <div class="table-responsive mb-5">
    <Table class = "table table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Fecha de Registro</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cliente in Model.Clientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.Name @cliente.Apellido</td>
                    <td>@cliente.Email</td>
                    <td>@cliente.FechaRegistro.ToString("dd/MM/yyyy")</td>
                    <td>@cliente.Direccion</td>
                    <td>
                        <a asp-page="/Clientes" asp-route-id="@cliente.Id" class="btn btn-sm btn-outline-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </Table>
    </div>
}else if (Model.Clientes == null){
    <div class="alert alert-info">No hay clientes aún.</div>
}
